{% extends 'base.html.twig' %}

{% block title %}{{ post.titre }}{% endblock %}

{% block body %}
<section class="article">
    <h1>{{ post.titre }}</h1>
    <p><strong>Auteur :</strong> {{ post.auteur.username }}</p>
    <p>{{ post.contenu }}</p>
    <p>
        <small>
            Publié le {{ post.dateHeureCreation|date('d/m/Y à H:i') }}
        </small>
    </p>

    <hr>

    <h2>Commentaires</h2>
    {% if post.commentaires is not empty %}
        <ul>
            {% for commentaire in post.commentaires %}
                <li>
                    <p><strong>{{ commentaire.auteur.username }}</strong> le {{ commentaire.dateHeureCreation|date('d/m/Y H:i') }}</p>
                    <p>{{ commentaire.contenu }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucun commentaire pour l’instant.</p>
    {% endif %}

    <hr>

    <h2>Laisser un commentaire</h2>
    {% if app.user %}
        {{ form_start(commentaire_form) }}
            {{ form_row(commentaire_form.contenu) }}
            {{ form_row(commentaire_form.submit) }}
        {{ form_end(commentaire_form) }}
    {% else %}
        <p>Vous devez <a href="{{ path('app_login') }}">vous connecter</a> pour commenter.</p>
    {% endif %}
</section>
{% endblock %}
