{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}
    <h1>Liste des articles</h1>
    <ul>
        {% for post in posts %}
        <li>
            <article id='{{ post.id }}'>
                <h2>{{ post.titre }}</h2>
                <p>{{ post.contenu }}</p>
                <p>
                    <time datetime="{{ post.dateHeureCreation ? post.dateHeureCreation|date('Y-m-d H:i:s') : ''}}"> {{ post.dateHeureCreation ? post.dateHeureCreation|date('D d M Y') : ''}}</time>
                </p>
                <a href="{{ path('app_postList_show', {'id': post.id}) }}">Lire l'article en entier</a>
            </article>
        </li>
        {% else %}
        <li><h2>Pas d'articles enregistrés</h2></li>
        {% endfor %}
    </ul>
    <a href="{{ path('app_admin_post_new') }}">Rédiger un nouvel article</a>
{% endblock %}
