{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}
    <section class="article">
        <h1>{{ post.titre }}</h1>
        <p>Article de : <b>{{ post.auteur.username }}</b></p>
        <p>{{ post.contenu }}</p>
        <div class="commentaires">
            <h2>Commenter l'article</h2>
                {{ include('admin_commentaire/new.html.twig') }}
            <h2>Commentaires</h2>

        </div>
    </section>

    <p>{{ dump(post) }}</p>


{% endblock %}
