<header class="container">
    <nav class="text-black pt-4">
        <ul class="d-flex list-unstyled justify-content-between">
            <li class="fw-bold text-dark opacity-75">
                <a href="{{ path('app_home') }}" class="text-decoration-none text-dark">Accueil</a>
                <span class="w-100 d-block"></span>
            </li>
            <li class="fw-bold text-dark opacity-75">
                <a href="{{ path('app_postList') }}"  class="text-decoration-none text-dark">Actualités</a>
                <span class="w-100 d-block"></span>
            </li>
            <li class="fw-bold text-dark opacity-75">
                <a href="{{ path('app_presentation_client') }}" class="text-decoration-none text-dark">Présentation client</a>
                <span class="w-100 d-block"></span>
            </li>
            <li class="fw-bold text-dark opacity-75">
                <a href="{{ path('app_contact') }}" class="text-decoration-none text-dark">Contact</a>
                <span class="w-100 d-block"></span>
            </li>
            {% if app.user %}
                <li class="fw-bold text-dark opacity-75 survol">
                    <p class="w-100">Mon compte</p>
                    <ul class="list-unstyled list-decalage">
                        <li><a a href="{{ path('app_logout') }}" class="text-decoration-none text-dark">Se déconnecter [{{ app.user.username }}]</a></li>
                    </ul>
                </li>
            {% else %}
                {# Utilisateur non connecté #}
                <li class="fw-bold text-dark opacity-75 survol">
                    <p class="w-100">Mon compte</p>
                    <ul class="list-unstyled list-decalage">
                        <li><a href="{{ path('app_login') }}" class="text-decoration-none text-dark">Se connecter</a></li>
                        <li><a href="{{ path('app_register') }}">S'inscrire</a></li>
                    </ul>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>
